<div class="card">
  <div class="card-header">List of Images Files</div>
  <ul
    class="list-group list-group-flush"
    *ngFor="let file of imagearray"
  >
    <li class="list-group-item">
      <app-upload-details [fileUpload]='file'></app-upload-details>
    </li>
    <img  class="images" src={{file.url}}/>
  </ul>
</div>




<div class="card">
  <div class="card-header">List of Video  Files</div>
  <ul
    class="list-group list-group-flush"
    *ngFor="let file of videoarray"
  >
    <li class="list-group-item">
      <app-upload-details [fileUpload]='file'></app-upload-details>
    </li>
    <video  controls
    #videoPlayer>
  <source src="{{file.url}}" type="video/mp4">
  Your browser does not support the video tag.
  </video>
  </ul>
</div>